.parent > div {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  border-radius: 10px;
  border: 1px solid red;
  gap: 20px;
  height: 50px;
  margin: auto;
  margin-top: 10px;
  text-align: center;
  /* margin: auto; */
}
.parent img {
  width: 50px;
}

.parent > div > p + p {
  background-color: green;
  color: white;
  padding: 5px 5px;
  /* width: 30px; */
  text-align: center;
  border-radius: 10px;
}
.price {
  font-size: 20px;
}
@media only screen and (max-width: 480px) and (min-width: 320px) {
  .parent > div {
    width: 100%;
    margin: auto;
    justify-content: center;
    padding: 20px;
    font-size: 9px;
  }
  .parent img {
    width: 30px;
  }
  .parent > div > h3 {
    font-size: 8px;
  }
}
.price {
  background-color: white;
  color: black;
  width: 200px;
}
.confirm {
  display: block;
  margin: auto;
}
/* Tab */
@media only screen and (max-width: 768px) and (min-width: 481px) {
  .parent > div {
    width: 100%;
    margin: auto;
    justify-content: center;
    padding: 20px;
    font-size: 9px;
  }
  .parent img {
    width: 30px;
  }
  .parent > div > h3 {
    font-size: 8px;
  }
}

/* Laptops */
@media only screen and (max-width: 1024px) and (min-width: 769px) {
}

/*  xs */
@media only screen and (max-width: 653px) and (min-width: 280px) {
  .parent > div {
    width: 100%;
    margin: auto;
    justify-content: center;
    text-align: center;
    padding: 20px;
    font-size: 9px;
  }
  .parent img {
    width: 20px;
  }
}
